@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #575353;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #575353;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes pulse-border {
  0% {
    border-color: #016cf8; /* Adjust the color as you want */
  }
  50% {
    border-color: #03288f; /* Adjust the color as you want */
  }
  100% {
    border-color: #000000; /* Adjust the color as you want */
  }
}

.pulse-border {
  animation: pulse-border 1.5s infinite ease-in-out;
}
